/*
	DataShore
	May 31, 2017
	
	This file contains the CSS styling for a the DataShore site visuals section. It includes stylizing the layout for
    the visuals section, including the navigation bars and layouts of plots and data. It uses the colors found in the 
    company logo and stays true to the relaxed, ocean mood.
*/

/* page format */
body{
    position: relative;
    background-image:url('http://e-sehiyye.gov.az/images/slide/backgrounds/b27.jpg');
    background-size: cover;
    color: white;
}


#page-content{
    display: flex;
}

#page_content_nav{
    text-align: center;
    background-color:#273D93;
    color: white;
    border-radius: 10px;
    border: 5px solid white;
    height: 100%;
    margin-left: 20px;
    box-shadow: 3px 3px 5px #888888;
}

/*nav bar */
/* nav bar */
#nav_header{
    background-color: #273D93;
}

#web_logo{
    height: 85%;
}


/* profile page */
#page_content_profile h3{
    width: 20%;
    margin: auto;
    color: white;
}

#it_line_chart{
    width: 50%;
    margin-left: 25%;
}


#line_switch{
    display: flex;
    justify-content: center;
}
#line_switch label{
    display: flex;
    width: 5%;
    margin-left: 3vh;
    margin-right: 2vh;
    color: white;
}

/* chart page */
#page-content{
    position: relative;
   
}

#chart_sel_modal{
    position: absolute;
    top: 20%;
    left: 20%;
}

.heatmap{
    display: inline-block;
}

.scatter{
    display: inline-block;
}

.input-group-addon{
    width: 100px;
    height: 100px;
}


.js-plotly-plot{
    display: inline-block;
    justify-content: space-around;
    color: white;
}

#chart_list{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: flex-start;
}

#add_chart_btn{
    position: relative;
    width: 40%;
    height: 50px;
    background-color:#273D93;
    color: white;
    border-radius: 10px;
    border: 5px solid white;
    margin-left: 25%;
    margin-bottom: 30px;
    box-shadow: 3px 3px 5px #888888;
}

 #output_dt{
     width: 80%;
     margin: auto;
 }

